  <footer id="footer" class="footer">

<div class="container">
  <div class="row gy-4">
    <div class="col-lg-5 col-md-12 footer-info">
      <a href="index.html" class="logo d-flex align-items-center">
        <span>jr_print</span>
      </a>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem, explicabo officia cum ipsam eum voluptas dolor, suscipit quos nemo deserunt, voluptatum natus numquam rerum quaerat. Natus unde, iste quisquam, minima quod cum quis illum officiis, blanditiis perferendis error voluptatibus! Ullam!</p>
      <div class="social-links d-flex mt-4">
        <a href="http://www.twiter.com" class="twitter"><i class="bi bi-twitter"></i></a>
        <a href="https://www.facebook.com/people/jr-print/100075992483117" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
      </div>
    </div>

    <div class="col-lg-2 col-6 footer-links">
      <h4>Lien utiles</h4>
      <ul>
          <li><a href="{{path('Prestation')}}">Préstation</a></li>
          <li><a href="{{path('Avantages')}}">Vos avantages</a></li>
          <li><a href="{{path('contact')}}">Contact</a></li>
          <li><a href="{{path('app_login')}}">Se Connecter</a></li>
      </ul>
    </div>

    <div class="col-lg-2 col-6 footer-links">
      <h4>Nos Services</h4>
      <ul>
        <li><a href="#service">Panneau</a></li>
        <li><a href="#service">Habillages véhicules</a></li>
        <li><a href="#service">Habillages vitrines </a></li>
        <li><a href="#service">Habillages comptoirs</a></li>
        <li><a href="#service">Habillages cuves </a></li>
      </ul>
    </div>

    <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
      <h4>Nous contacter</h4>
      <p>
        Lot IVL 3 D Ambodirovonkely <br>
        Andraharo - Antananarivo <br>
        Madagascar <br><br>
        <strong>Phone:</strong> +261 32 07 737 70<br>
        <strong>Email:</strong> jr_print@yahoo.fr<br>
      </p>

    </div>

  </div>
</div>

<div class="container mt-4">
  <div class="copyright">
    &copy; Copyright <strong><span>novembre 2024</span></strong>
  </div>
  <div class="credits">
    Designed by <a href="https://manambina9.github.io/siteTest/">Herinantenaina & Andry</a>
  </div>
</div>

</footer><!-- End Footer -->
</body>
</html>